
.form-container {
    width: 25%;
}

button {
    background-color: white;
    border: 0.1em solid rgb(240, 128, 128);
    padding: 0.35em 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center ;
    transition: all 0.2s;
    font-size: medium;
}

button:hover {
    background-color: rgb(240, 128, 128);
}
